<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="../style.css">
</head>

<body>

    <div class="form">
        <form action="/new" method="post">
            <label for="Username" name="Username" class="Username">Username:</label>
            <input type="text" name="Username" id="Username"><br>

            <label for="message" name="message" class="message">Message:</label>
            <input type="text" name="message" id="message" required><br>

            <button value="submit">Submit</button>

        </form>
    </div>

</body>

</html>